<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <div class="contact">
        <p>
          <a href="https://www.fashionforest.dk/">Fashionforest</a>&nbsp;
          <a href="https://github.com/TobiasBerg">Github</a>&nbsp;
          <a href="https://twitter.com/TobiasBerg">Twitter</a>&nbsp;
          <a href="https://www.last.fm/user/TobiasBerg">Last.fm</a>&nbsp;
        </p>
      </div>
    </footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107926891-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-107926891-1');
    </script>
  </body>
</html>
